---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.10/101441640615588/friends?access_token=EAABz2celF1wBAAnS5EcWtMZCZB84HjklyfEoshS7d1WGWZBqzcNuG3e0jGZAZAOWrc2HkDzPS0SXWMfCI4ChZBwdc0qK34HUIJszZCyQjd4grnayKkLl333ZB8JQmjAoBCFEZC150ffpI93DDyiSFXo9wadABZCr0KyGBWldna2XeVylZBlvCH0bSpz&fields=id%2Cname%2Cpicture%7Burl%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - '"edd9d5574fca6c943fcc08458923c2726beab8c2"'
      content-type:
      - application/json; charset=UTF-8
      facebook-api-version:
      - v2.10
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"111138632976305","name":"Will Albbdjejfdjgf Wongberg","picture":{"data":{"url":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/c15.0.50.50\/p50x50\/10354686_10150004552801856_220367501106153455_n.jpg?oh=3f6c91428fc256182541f697d6bb84d3&oe=5B3B0A2F"}}},{"id":"110605719696288","name":"Sandra
        Albbdjehachbi Wisemanescu","picture":{"data":{"url":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/c15.0.50.50\/p50x50\/1379841_10150004552801901_469209496895221757_n.jpg?oh=63882fb3fcd87e9433dcbb490913a150&oe=5B064733"}}},{"id":"111221322968083","name":"Dave
        Albbdjfdgcihb Rom[...]
