.invite-list {
  padding: 50px 15px;
  border: 1px solid #eee;
  text-align: center;
  border-radius: 3px;

  img {
    display: inline-block;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    margin-top: 10px;
  }
}

