<% # view is an instance of Games::ShowView %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="root"></div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
 <script>window.gameId = <%= view.game.id %></script>
 <script>
   window.Logger = {
     log: function(html) {
       var logger = document.getElementById("logger-container");
       logger.querySelector('pre').innerHTML += html + "<br>"
       var div = logger.querySelector("div")
       div.scrollTop = div.scrollHeight
     }
   }
 </script>
 <%= javascript_pack_tag 'games/show' %>
<% end %>

