<% # view is an instance of Games::ShowView %>

<div class="container">
  <div class="row">
    <div id="root"></div>
  </div>
</div>

<% content_for :javascripts do %>
  <%= javascript_pack_tag 'games/show' %>
<% end %>

