<% # view is an instance of Games::ShowView %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="games-show"></div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
 <script>window.gameId = <%= view.game.id %></script>
 <%= javascript_pack_tag 'games/show' %>
<% end %>

