@import "bootstrap-sprockets";
@import "bootstrap";

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.header {
  h1 {
    a {
      color: black;
      text-decoration: underline;
    }
  }

  .avatar {
    margin-right: 10px;
    display: block;
  }
}

.hidden-phone {
  display: none;
}

@media (min-width: 375px) {
  .hidden-phone {
    display: block;
  }
}

@import "flash";

.test {
  span {
    padding: 3px 10px;
    background-color: #f2f2f2;
    font-weight: bold;

    &.error {
      background-color: red;
      color: white;
      padding: 3px 10px;
    }

    &.success {
      background-color: green;
      color: white
    }
  }

  i {
    padding: 3px 10px;
    background-color: #daedfd;
  }

  .steps {
    > div {
      margin-top: 26px;
    } 

    .ind-1 {
      padding-left: 40px;
      margin-top: 18px;
    }

    .ind-2 {
      padding-left: 80px;
      margin-top: 10px;
    }

    .ind-3 {
      margin-top: 10px;
      padding-left: 120px;
    }
  }
}