@import "bootstrap-sprockets";
@import "bootstrap";

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.header {
  h1 {
    a {
      color: black;
      text-decoration: underline;
    }
  }

  .avatar {
    margin-right: 10px;
    display: block;
  }
}

.hidden-phone {
  display: none;
}

@media (min-width: 375px) {
  .hidden-phone {
    display: block;
  }
}

@import "flash";
@import "friends-list/base";
@import "invite-list/base";
