<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="root"></div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
 <%= javascript_pack_tag 'admin/test/show' %>
<% end %>

